/* 
.footer {
  background-image: radial-gradient(circle, #c1cbf0, #c7d6f4, #d0e1f6, #dcebf9, #eaf4fb);
  text-align: center;
  margin-top: auto; 
  padding: 1rem 0; 
  color: rgb(0, 0, 0);
  }
   */