.banner{
    background-image: url('../assets/10136775_17973908.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
}
.mainheading{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-top: 20vh;
    opacity: 0.8;
}
.mainheading2{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin-top: 10px;
    opacity: 0.8;
}
.registerbtn{
    background-color: #07217f;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    opacity: 0.9;
}
.serviceheading{
    font-weight: bold;
    color: #07217f;
    text-align: center;
    opacity: 85%;
}
.servicepara{
    color: #09122C;
    text-align: center;
    margin-top: 12px;
    opacity: 0.8;
    font-family: 'Segoe UI',Arial,sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
.cardtext{
    color: #000000;
    text-align: center;
    opacity: 0.8;
    font-family: 'Segoe UI',Arial,sans-serif;
    font-weight: 450;
}
.download-link{
    color: #07217f;
    font-weight: bold;
    text-decoration: none;
}
.study-resources{
    background-color: #F8FAFC;
    padding: 35px 40px;
}
.preparation-section{
    background-color: #F8FAFC;
    padding: 40px 45px;
}