.login-container{
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 5%;
    margin-bottom: 5%;
}

.signup-heading{
    font-weight: bold;
    color: #07217f;
    font-size: 2.5rem;
    opacity: 90%;
}
.registration-form form{ 
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
}
.registration-form .item{
    margin-bottom: 25px;
    padding: 10px 20px;
}
.create-account{
    background-color: #07217f;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    opacity: 95%;
}
.create-account:hover{
    background-color: #797878;
    color: #ffffff;
}

.rem{
    color: #000000;
    font-size: 1rem;
    opacity: 80%;
}
.loginlink{
    color: #000000;
    font-size: 1rem;
    opacity: 80%;
    text-decoration: none;
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}
